<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
</head>

<div class='app'>
  <h1 class='title'>Hello</h1>
  <form action='/birthday' method='post'>
    <div class='name'>
      <h2>What's your name?</h2>
      <div class="input">
        <input type="text" name="name">
      </div>
    </div>
    <div class='birthday'>
      <h2>When's your birthday?</h2>
      <div class="input">
        <input type='text' name="day">
        <select name="month">
          <option value='1'>January</option>
          <option value='2'>February</option>
          <option value='3'>March</option>
          <option value='4'>April</option>
          <option value='5'>May</option>
          <option value='6'>June</option>
          <option value='7'>July</option>
          <option value='8'>August</option>
          <option value='9'>September</option>
          <option value='10'>October</option>
          <option value='11'>November</option>
          <option value='12'>December</option>
        </select>
      </div>
    </div>
    <input class ="go" name='go' type="submit" value="Go">
  </form>
</div>
